<div
  class="input-container"
  [class.error]="errorMessages"
  [class.success]="!errorMessages && (control.value.length > 1)"
  [class.disabled]="!control.disable"
>
  <p class="baseline">
    <label class="input-container-label" [for]="mergeConfigs().label.trim()"
      >{{ mergeConfigs().label }}{{ (mergeConfigs().required) ? '' : '*'}}</label
    >
  </p>
  <div class="input-container-content">
    <input
      [formControl]="control"
      [type]="mergeConfigs().type"
      [attr.placeholder]="this.mergeConfigs().placeholder"
      autocomplete="off"
      required="{{ mergeConfigs().required }}"
      [attr.id]="mergeConfigs().label.trim()"
      (blur)="control.markAsTouched()"
    />
    @if (mergeConfigs().showPassword) {
    <app-input-password-toggle
      [config]="mergeConfigs()"
      [updateType]="updateConfig"
    ></app-input-password-toggle>
    }
  </div>
  <div class="input-informations">
    <app-input-error [control]="control"></app-input-error>
    @if (mergeConfigs().displayStrenghMeterPassword !== false) {
    <app-input-password-meter [value]="this.control.value"></app-input-password-meter>
    }
  </div>
</div>
