<div class="input_container" [class.error]="errorMessages"
    [class.success]="!errorMessages && (control.value.length > 1)" [class.disabled]="!control.disable">
    <label class="input_container__label" [for]="mergeConfigs().label.trim()">{{ mergeConfigs().label }}{{ (mergeConfigs().required) ?
        '' : '*'}}</label>
    <div>
        <input 
        [formControl]="control" 
        [type]="mergeConfigs().type"
            
        [attr.placeholder]="this.mergeConfigs().placeholder" 
        autocomplete="off"
        required="{{ mergeConfigs().required }}" 
        [attr.id]="mergeConfigs().label.trim()"
        (blur)="control.markAsTouched()" 
        />
        @if (mergeConfigs().showPassword) {
            <app-input-password-toggle [config]="mergeConfigs()" [updateType]="updateConfig"></app-input-password-toggle>
        }
    </div>
    <div class="informations">
        <app-input-error [control]="control"></app-input-error>
        @if (mergeConfigs().displayStrenghMeterPassword !== false) {
            <app-input-password-meter [value]="this.control.value"></app-input-password-meter>
        }
    </div>
</div>