<div class="main-container">
  <app-header-content

  eyebrow="Encyclopédie communautaire" 
  title="Découvre, partage et enrichis les savoirs."
  baseline="Explore des articles, des idées et des découvertes publiés par la communauté.
      Contribue à une base de connaissances claire, utile et vivante.">

    <app-button 
    icon="icon-plus" 
    label="Créer un article" 
    (clicked)="this._router.navigate(['/post/add'])"></app-button>

      <app-button 
      type="secondary" 
      label="Voir les contributeurs" 
      (clicked)="this._router.navigate(['/account/users'])"></app-button>

  </app-header-content>

    <app-header-section
    eyebrow="Dernières contributions"
    title="Articles récents"
    >

    </app-header-section>

    <div class="home-posts">
      <ng-paginator class="home-paginator" [CurrentPage]="+page()" [PageSize]="+limit()" [TotalItems]="totalArticle()"
      (pageChange)="updatePage($event)" />
      @if (posts.isLoading()) {
      <p>Chargement des articles...</p>
      } @else {
      @for (post of posts.value(); track post.id) {
      <app-post-card [post]="post" />
      } @empty {
      <div class="home-empty-state">
        <h3>Aucun article</h3>
        <p>Aucune contribution n’est disponible pour le moment.</p>
      </div>
      }
      }
    </div>
    
</div>