<header class="app-header">
  <a class="app-header__brand" href="/">
    <span class="app-header__logo"></span>
    <h1>{{ title() }}</h1>
  </a>

  <nav class="app-header__nav">
    @let userId = this._session.getUserIdSync();
    @let role = this._session.getUserRoleSync();

    @if (userId != undefined) {
      @if (role == "admin") {
        <span class="app-header__badge">Admin</span>
      }

      <app-button
        type="secondary"
        label="Mon profil"
        size="sm"
        (clicked)="this._router.navigate(['/account/profil'])">
      </app-button>

      <app-button
        type="danger"
        size="sm"
        [loading]="loading"
        label="Se déconnecter"
        (clicked)="this.logout()">
      </app-button>
    }
  </nav>
</header>