<header class="header">
  <div class="header-left">
    <a class="header-brand" routerLink="/">
      <span class="header-logo"></span>

      <div class="header-brand__content">
        <h1>{{ title() }}</h1>
      </div>
    </a>
  </div>

  <nav class="header-nav">
    @let userId = this._session.getUserIdSync();
    @let role = this._session.getUserRoleSync();

    @if (userId != undefined) {
      @if (role == "admin") {
        <span class="header-badge">Admin</span>
      }

      <app-button
        type="secondary"
        label="Mon profil"
        size="sm"
        (clicked)="this._router.navigate(['/account/profil'])">
      </app-button>

      <app-button
        type="danger"
        size="sm"
        [loading]="loading"
        label="Se déconnecter"
        (clicked)="this.logout()">
      </app-button>
    }
  </nav>
</header>