<div class="home-container">
    <h1>Welcome to the Blog</h1>
    <p>This is your home page content.</p>

    <app-button icon="icon-plus" label="Créer un article" (clicked)="this._router.navigate(['/post/add'])"></app-button>

    <app-button label="Voir tous les profils utilisateurs"
        (clicked)="this._router.navigate(['/account/users'])"></app-button>

    <ng-paginator style="width: 60em;" [CurrentPage]="+page()" [PageSize]="+limit()" [TotalItems]="totalArticle()"
        (pageChange)="updatePage($event)" />

    @if (this.loadingPost() ) {
        @for (post of posts.value(); track post.id) {
            <app-post-card [post]="post" />
        } @empty {
            <h1>Aucun posts</h1>
        }
    }

</div>