<header>
  <a href="/"><h1>{{ title() }}</h1></a>

  <nav>
    @let userId = this._session.getUserIdSync();
    @let role = this._session.getUserRoleSync();
    @if (userId != undefined) {
      @if (role == "admin") {
        <h2>ADMIN</h2>
      }
      <app-button label="Mon profil" size="sm" (clicked)="this._router.navigate(['/account/profil'])"></app-button>
      <app-button type="danger" size="sm" [loading]="loading" label="Se déconnecter" (clicked)="this.logout()" ></app-button>
    }
  </nav>
</header>
