@use 'mixins/mixins' as *;
@use './bases/base-text' as *;
@use './bases/base-flex' as *;
@use './bases/base-button' as *;

.main-container {
  width: 100%;
  height: auto;

  @include background-main-container;

  &.ghost {
    border: none;
    background: none;
    backdrop-filter: none;
  }
}
