@use 'mixins/mixins' as *;
@use './bases/base-text' as *;
@use './bases/base-flex' as *;
@use './bases/base-card' as *;
@use './bases/base-button' as *;

.main-container {
  position: relative;
  min-width: 500px;
  width: 100%;
}

.main-container-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  @include box-shadow;
}

.main-container-form .form-title {
  align-self: flex-start;
}
