/* GLOBAL STYLE */

$white: #fff;
$black: #210242;
$input-placeholder: rgb(33 2 66 / 35%);
$border: #af94cc;
$contaier-background: rgb(220 220 220 / 5%);

/* BUTTON */
$primary: #cb2fff;
$primary-hover: #c421fa;
$success: #3cda6c;
$danger: #da3c3c;
$error: #e96969;

/* UTNITS VARIABLES */

/* spacing */

$gap-unit: 0.45rem;
$spacing-unit: 0.5em;
$blur-intensity: 2em;
