/* GLOBAL STYLE */

$white: #ffffff;
$black: #2c0258;

$input-placeholder: rgba(255, 255, 255, 0.63);
$border: #af94cc;

$contaier-background: rgba(220, 220, 220, 0.05);

/* BUTTON */
$primary: #cb2fff;
$primary-hover: #c421fa;

$success: #3cda6c;
$danger: #da3c3c;
$error: #e96969;

/* UTNITS VARIABLES */

/* spacing */

$gap-unit: 0.25rem;
$spacing-unit: 0.25em;

$blur-intensity: 2em;
