@use 'markdown' as *;
@use 'fonts' as *;
@use 'mixins/mixins' as *;
@use 'variables' as *;


.fullscreen-editor {
  position: relative;
  top: 0;
  left: 0;
  background: #fafafa;
  border: 1px solid #ccc;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: row;
  height: 80vh;
  
}

.fullscreen-editor .markdown::ng-deep,
.fullscreen-editor .variable-binding {
  width: 100%;
  height: 100%;
  position: relative;
}

.fullscreen-editor .variable-binding {
  overflow-y: scroll;
  font-size: 1.0em;
  padding: 1em;
  
}

.fullscreen-editor>* {
  white-space: pre-line;
}

.fullscreen-editor .line {
  height: 100%;
  width: 2px;
  background-color: $primary;
}

.preview {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  padding-top: .5em;
  word-break: break-all;
}

.preview.hide {
  width: 0%;
  overflow: hidden;
  padding: 0;
}

.preview .pill {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  color: $white;
  background-color: $primary;
  padding: 0.4em 0.8em; 
  border-radius: .2em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.label {
  cursor: inherit;
  user-select: none;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}