@use 'fonts' as *;
@use 'mixins/mixins' as *;
@use 'variables' as *;
@use 'bases/base-form' as *;

.input-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.input-container-switch-button {
  position: relative;
  width: calc(2 * $switch-toggle);
  height: $switch-toggle + 0.1em;
  background: none;
  border: 0.5px solid transparent;
  border-radius: $switch-toggle;
  outline: none;
  transition:  0.4s;
  background-color: $container-background;
  cursor: pointer;
  transition: background-color 0.4s;


  @include box-inset-shadow;

  &:focus {
    border-color: $primary;
  }
}

.input-container-switch-button.checked {
    background-color: $primary;
}

.input-container-switch-button span {
  transition: .3s;

  position: absolute;
  border-radius: calc(2.5 * $switch-toggle);
  left: 0;
    width: $switch-toggle;
    height: $switch-toggle;
    background-color: $white;
  @include box-inset-shadow;

}

.input-container-switch-button.checked span {
  left: calc(100% - $switch-toggle);
}