<button class="icon input-password-toggle" type="button" (click)="toggleType()">
  <span class="icon-wrapper">
    @if (this.config.type === "password") {

    <i class="icon-container">
      <svg @slideDown class="icon-svg" viewBox="0 0 24 24">
        <use href="#icon-eye" />
      </svg>
    </i>
    
    } @else if (this.config.type === "text") {
    <i>
      <svg @slideDown class="icon-svg" viewBox="0 0 24 24">
        <use href="#icon-eye-off" />
      </svg>
    </i>
    
    }
  </span>
</button>
