.icon-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.icon-svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.1);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.icon-svg path {
  stroke: #af94cc;
  transition: stroke 0.2s ease;
}

.icon-svg:hover path {
  stroke: #fff;
}

.icon-svg.visible {
  transform: scale(1);
}
