<div
  class="form-field textarea-field"
  [class.form-field--error]="errorMessages"
  [class.form-field--success]="!errorMessages && control.value?.length > 1"
  [class.form-field--disabled]="control.disabled">

  @if (mergeConfigs().label.length !== 0) {
    <div class="form-field__header">
      <label
        class="form-field__label"
        [for]="mergeConfigs().label.trim()">
        {{ mergeConfigs().label }}
      </label>

      @if (!mergeConfigs().required) {
        <span class="form-field__optional">
          Optionnel
        </span>
      }
    </div>
  }

  <textarea
    #textarea
    class="form-control textarea-field__control"
    [class.form-control--flat]="noShadow()"
    [formControl]="control"
    [attr.placeholder]="mergeConfigs().placeholder"
    [attr.id]="mergeConfigs().label.trim()"
    [attr.required]="mergeConfigs().required ? true : null"
    autocomplete="off"
    (blur)="control.markAsTouched()"
    (keyup.enter)="markdownSetNewLine()"
    (scroll)="onScroll()">
  </textarea>

  @if (this.control.errors != null) {
    <div class="form-field__message form-field__message--error">
      <app-input-error [control]="control"></app-input-error>
    </div>
  }
</div>

<ng-content></ng-content>