@use 'variables' as *;

.icon-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.icon-svg {
  color: $border;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.1);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.icon-svg:hover {
  color: #a376d3;
}

.icon-svg.visible {
  transform: scale(1);
}
