@use 'fonts' as *;
@use 'mixins/mixins' as *;
@use 'variables' as *;
@use 'bases/base-form' as *;

.input-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.input-container-switch-button {
  position: relative;
  width: calc(2 * $switch-toggle);
  height: $switch-toggle + 0.1em;
  background: none;
  border: 0.5px solid transparent;
  border-radius: $switch-toggle;
  outline: none;
  background-color: $container-background;
  cursor: pointer;
  transition: background-color 0.4s;

  @include box-inset-shadow;

  &:focus {
    border-width: 0.2px;
    outline: 0.2px solid transparent;
    border-color: $primary;
  }
}

.input-container-switch-button.checked {
  background-color: $primary;
}

.input-container-switch-button span {
  transition: 0.3s;
  position: absolute;
  border-radius: calc(2.5 * $switch-toggle);
  top: 0;
  left: 0;
  width: $switch-toggle;
  height: $switch-toggle - 0.1em;
  background-color: $white;

  @include box-inset-shadow;
}

.input-container-switch-button.checked span {
  left: calc(100% - $switch-toggle);
}
