@use 'mixins/mixins' as *;
@use 'variables' as *;

button:not(.btn-select, .input-password-toggle) {
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 600;
  border-radius: 0.2em;

  overflow: hidden;

  @include box-inset-shadow;
  @include box-shadow;

  transition:
    filter 0.3s,
    scale 0.1s ease-in-out;

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }

  &:hover:not(:disabled, .btn-secondary) {
    filter: brightness(1.1);
  }

  &:active:not(:disabled) {
    scale: 0.97;
  }
}

button.loading,
button.icon {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}



button.loading.lg .loader {
  width: 1.2em;
  height: 1.2em;
}

button.loading.md .loader {
  width: 1em;
  height: 1em;
}

button.loading.sm .loader {
  width: 0.9em;
  height: 0.9em;
}

button.lg {
  padding: 0.7em 1em;
  font-size: 1.3em;
}

button.md {
  padding: 0.6em 0.85em;
  font-size: 1.2em;
}

button.sm {
  padding: 0.5em 0.75em;
  font-size: 1.1em;
}

button.btn-primary {
  background-color: $primary;
}

button.btn-secondary {
  background-color: $white;
  color: $black;
  border: 1px solid transparent;
  transition: 0.3s;

  &:hover {
    border-color: #e4e4e4;
  }
}

button.btn-success {
  background-color: $success;
}

button.btn-danger {
  background-color: $danger;
}

button.btn-warn {
  background-color: $warning;
}

button.btn-select {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  background: none;
  border: 0.5px solid transparent;
  border-radius: 7px;
  outline: none;
  transition: border-color 0.2s;
  text-align: left;

  font-family: Poppins, sans-serif !important;
  font-size: 1em;
  font-weight: 500;
  color: $input-placeholder;
  
  @include box-inset-shadow;

  &:focus {
    border-color: $primary;
  }
  &.fill {
    color: $black;
  }
}

button.btn-outlined {
  color: $primary;
  background: none;
  box-shadow: none;
  border: 1px solid $primary;
  transition: .3s ease-in;

  &:hover {
    background-color: $primary;
    color: $white;
  }
  
}

i.button-icon  svg {
  height: 24px;
  width: 24px;
}

button.icon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 0.8em;
  
  i.button-icon {
    display: flex;
    align-items: center;
    background-color: rgba($color:$black, $alpha: 0.1);
    width: 100%;
    min-width: 24px;
  }
}

button.lg.icon {
  padding: 0;
  padding-right: 1em;
  font-size: 1.3em;

  i.button-icon {
    padding: 0.604em;
    svg {
      width: 28px;
    }
  }
  &.noLabel {
    padding: 0; 
  }
}

button.md.icon {
  padding: 0;
  padding-right: 0.85em;
  font-size: 1.2em;

  i.button-icon {
    padding: 0.47em;
    svg {
      width: 24px;
    }
  }
  &.noLabel {
    padding: 0; 
  }
}

button.sm.icon {
  padding: 0;
  padding-right: 0.75em;
  font-size: 1.1em;

  i.button-icon {
    padding: 0.3em;
    svg {
      width: 20px;
    }
  }
  &.noLabel {
    padding: 0; 
  }
}
